.pokedex_list {
  -webkit-column-count: 10;
  -moz-column-count: 10;
  column-count: 10;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.pokedex_list li a {
  text-transform: capitalize;
}
.pokemon .pokemon_name .pokemon_id {
  background: #fcfcfc;
  border: 1px solid #dadada;
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 0.8em;
  display: inline-block;
  position: relative;
}
.pokemon .pokemon_name .pokemon_id:before {
  content: '#';
}
.pokemon .pokemon_img_wrapper {
  display: inline-block;
  vertical-align: top;
  border-radius: 100%;
  width: 215px;
  overflow: hidden;
  border: 1px solid #dadada;
}
.pokemon .pokemon_img_wrapper .pokemon_img {
  border-radius: 100%;
}
.pokemon .pokemon_information {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 10px 0;
  padding: 20px;
}
.pokemon .pokemon_information .pokemon_type .pk_type {
  display: inline-block;
  vertical-align: top;
  padding: 2px 10px;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 4px;
  color: #fff;
  text-shadow: 1px 1px 3px #111;
}
.pokemon .pokemon_information .pokemon_type .pk_type_grass {
  background: #9bcc50;
  border: 1px solid #85b43f;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_poison {
  background: #b97fc9;
  border: 1px solid #925da0;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_fire {
  background: #fd7d24;
  border: 1px solid #c15b14;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_flying {
  background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  border: 1px solid #1e7e9a;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_water {
  background: #4592c4;
  border: 1px solid #3177a4;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_bug {
  background: #729f3f;
  border: 1px solid #517924;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_dragon {
  background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  border: 1px solid #226f98;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_ground {
  background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  border: 1px solid #867528;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_fairy {
  background: #fdb9e9;
  border: 1px solid #d989c2;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_ghost {
  background: #7b62a3;
  border: 1px solid #4f3a70;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_normal {
  background: #a4acaf;
  border: 1px solid #7d878b;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_psychic {
  background: #f366b9;
  border: 1px solid #bd488d;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_dark {
  background: #707070;
  border: 1px solid #4f4f4f;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_electric {
  background: #eed535;
  border: 1px solid #ac991f;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_fighting {
  background: #d56723;
  border: 1px solid #8a3e0f;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_ice {
  background: #51c4e7;
  border: 1px solid #1e87a7;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_type .pk_type_rock {
  background: #a38c21;
  border: 1px solid #6c5b0d;
  border-radius: 2px;
}
.pokemon .pokemon_information .pokemon_stats .pokemon_stat span {
  font-weight: 700;
}
.pokemon .pokemon_colour_scheme .pokemon_colour {
  display: block;
  border: 1px solid #333;
  border-radius: 2px;
  font-size: 0.9em;
  color: #fff;
}
.pokemon .pokemon_move table {
  width: 100%;
}
.pokemon .pokemon_move table tr:first-child {
  border-width: 1px;
  border-style: solid;
}
.pokemon .pokemon_move table tr {
  border-bottom: 1px solid;
}
.pokemon .pokemon_move table tr th {
  color: #fff;
  text-shadow: 1px 1px 3px #111;
  padding: 5px 10px;
}
.pokemon .pokemon_move table tr td {
  padding: 5px 10px;
}
.pokemon .pokemon_move table tr .pk_move_name {
  width: 10%;
  vertical-align: middle;
}
.pokemon .pokemon_move table tr .pk_move_stats {
  width: 20%;
  vertical-align: middle;
}
.pokemon .pokemon_move table tr .pk_move_desc {
  width: 60%;
  vertical-align: middle;
}
.pokemon .pokemon_move table tr .pk_move_learntype {
  width: 10%;
  vertical-align: middle;
}
.pokemon .pokemon_move table tr .pk_move_level {
  vertical-align: middle;
  width: 10%;
}
.ib-t {
  display: inline-block;
  vertical-align: top;
}
.ib-m {
  display: inline-block;
  vertical-align: middle;
}
.capitalize {
  text-transform: capitalize;
}
